:root{
    --colors1:#f77149,rgb(97, 131, 202),grey,#c0e45d,#f773c5;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #cccccc;
    background-image: linear-gradient(45deg,var(--colors1));
    background-size:600%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation:30s bg-animate  infinite alternate-reverse;
}
h1{
    cursor: pointer;
    color: gold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 0 0 #000,0 1px 0 #000,0 0 1px #000;
}
.container{
    background: purple;
    background-position: center;
    background-size: cover;
    background-blend-mode: exclusion;
    width: 90%;
    max-width: 26rem;
    height: 57%;
    border: 12px solid gold;
    border-radius: 50%;
    transform: translateY(-3px); 
    animation: 15s ease-in-out c-animate infinite alternate-reverse;
}
.hand{
    width: 50%;
    height: 6px;
    top: 50%;
    position: absolute;
    transform-origin: 100%;
    transform: rotate(90deg);
    border-radius: 4px;
}
.secondHand,.minuteHand,.hourHand{
    background-color: rgb(255, 239, 20);  
}
.display{
    color: #faecec;
    position: absolute;
    top: 85%;
    font-size: 1.7em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 0 0 #000,0 1px 0 #000,0 0 1px #000;

}
footer{
    text-align: center;
    width: 100%;
    position: fixed;
    top: 97%;
    font-family: sans-serif;
    font-size: 1.3rem;
    background: black;
    text-shadow: 1px 0 0 grey,0 1px 0 grey,0 0 1px grey;
    color: blanchedalmond;

}
h1,.display{
    cursor: none;
}
@keyframes bg-animate{
0%{background-position: left;}
100%{background-position: right;}
}
@keyframes c-animate{
    0%{background-image:url("images/1.jpg");}
    25%{background-image: url(images/5.jpg);}
    50%{background-image:url("images/3.jpg");}
    75%{background-image:url("images/4.jpg");}
    100%{background-image: url(images/2.jpg);}
    
}

@media screen and (max-width:400px){
    body{background-size: 600%;}
    .container{width:100%;max-width:17rem;height: 48%;}
}